@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-md;

  @include respond-sm {
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-md;
  }

  @include respond-lg {
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-lg;
  }

  @include respond-xl {
    grid-template-columns: repeat(4, 1fr);
  }
}
